.logSystem{
	background-image: url(../resources/icon/brick.png);
}

.sdms{
	background-image: url(../resources/icon/application_side_list.png);
}

.accoutSys{
	background-image: url(../resources/icon/folder_star.png);
}

.accoutBack{
	background-image: url(../resources/icon/report.png);
}

.hostWeb{
	background-image: url(../resources/icon/world.png);
}

.webIndex{
	background-image: url(../resources/icon/world_link.png);
}

.softDown{
	background-image: url(../resources/icon/lorry_link.png);
}

.examOnline{
	background-image: url(../resources/icon/comment_edit.png);
}

.evaluateOnline{
	background-image: url(../resources/icon/overlays.png);
}

.complaintSys{
	background-image: url(../resources/icon/lightning.png);
}

.regimeSearch{
	background-image: url(../resources/icon/information.png);
}

.knowLib{
	background-image: url(../resources/icon/computer.png);
}

.dinerLib{
	background-image: url(../resources/icon/cake.png);
}

.loginWeb{
	background-image: url(../resources/icon/lock.png);
}

.picNews{
	background-image: url(../resources/icon/pictures.png);
}

.notifyPaper{
	background-image: url(../resources/icon/shape_square_edit.png);
}

.compDept{
	background-image: url(../resources/icon/application_cascade.png);
}

.hotAttention{
	background-image: url(../resources/icon/star.png);
}

.theoryStudy{
	background-image: url(../resources/icon/book.png);
}

.infoInteract{
	background-image: url(../resources/icon/newspaper.png);
}

.webMaintain{
	background-image: url(../resources/icon/world_edit.png);
}

.dayNews{
	background-image: url(../resources/icon/new.png);
}


.nowAttention{
	background-image: url(../resources/icon/page.png);
}

.compDeptInfo{
	background-image: url(../resources/icon/link_go.png);
}

.view {
	background-color: #fff;
	text-shadow: #fff 0 1px 0;
	position: relative;
	display: block;
	height: auto;
}

.viewHover{
	background-color: #eee;
}


.htmlEditorImgIcon{
	background-image: url(../resources/icon/image.png);
}

.htmlEditorFileIcon{
	background-image: url(../resources/icon/link.png);
}



a:link { 
    color:black;
    text-decoration:none; 
    font-size:13px; 
}

a:visited {
    color:#9f301d;
    text-decoration:none; 
}

a:visited:hover { 
    color:#9f301d;
    text-decoration:underline; 
}

a:hover { 
    color:#dd3409;
    text-decoration:underline; 
}

a:active { 
    color:#ff3300;
    text-decoration:underline; 
}


